<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="employee" class="autowiring.Employee" autowire="byName">
    <property name="name" value="Namit"/>
    </bean>

    <bean id="address" class="autowiring.Address">
        <property name="city" value="Gurugram"/>
        <property name="house_no" value="4"/>
    </bean>
    <bean id="department" class="autowiring.Department">
        <property name="dept_name" value="Development"/>
    </bean>
</beans>